h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[type="text"], button {
  color: #333;
  font-family: Cambria, Georgia, serif;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

label, input{

}
label{
  display: block;
  margin-right: 10px;
  float: left;
}
input{
  width: 100%;
}
.card{

}
.btn{
  width: 180px;
}
.card__title{
  text-align: center;
  margin-bottom: 30px;
}
.card__parentGroup{
  display: flex;
  place-content: space-between;
}
.card__group{
  display: flex;
  margin-bottom: 15px;
  width: 100%;
}
.card__address{

}
.half{
  width: 48%;
}

.error__card{
  background-color: #cc0000;
}
.success__card{
  background-color: #2e8b57;
}

.card__cadastros{
  margin-top: 30px;
}
table, th, td {
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}
table{
  margin: 15px 0;
}
.nex_prev__btn{
  display: flex;
  justify-content: space-between;
  width: 15%;
}
.nex_prev{
  width: 45%;
}
